@use "../base/variables.scss" as var;
@use "../base/mixins.scss" as mixin;


.width-container {
    max-width: 1600px;
    width: 85%;
    margin: 0 auto;
}


.padding-container {
    padding: 10rem 0;

    @media screen and (max-width: var.$tablet) {
        padding: 6rem 0;
    }
}